@import url('https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
header{
    display: block;
    margin-bottom: 1px;
}
nav{
    display: block;
    width: 20%;
    float: left;
}
section{
    display: block;
    width: 70%;
    float: right;
}
body{
    background-color: #DDCC55;
    color: #000000;
    font-size: 16px;
    font-family: Stoke, Lucida Bright, liberation;
  }
a:link {
    color: #222222;
    text-decoration: none;
  }
a:visited {
    color: #222222;
    text-decoration: none;
  }
ol{
    line-height: 200%; 
}
ul{
    line-height: 200%;
}
.nav_ul{
    color: #000000;
    line-height: 230%;
    margin-top: 40px;
    list-style-type: square;
}
.imgLogo{
    border-bottom: 3px solid;
    color: #222222;
    margin-bottom:6px;
    padding-bottom: 15px;
}
.apress{
    text-align: center;
    font-size: 16px;
}
.ender{
    margin-bottom: 1px;
    float: right;
    text-align: right;
    line-height: 140%;
    font-size: 14px;
    font-family:Karla, Verdana, Ubuntu ;
}
.ol {
    line-height: 200%;
}
/* Estilos CSS Página Planos */

.titulo{
    text-align: center;
}
.listaPlano{
    width: 300px;
    color: #202020;
    background-color: #EEEBBB;
    font-size: 12px;
    padding: 10px, 10px,10px,10px;
    border: solid 3px #202020; 
    margin: 0px auto 10px auto;
    list-style-type: square;
}
.h4{
    font-size: 14px;
}
.listPlano_ol{
    color: #202020;
    list-style-type: lower-alpha;    
}
.preco{
    color: #CC0000;
}

/* Estilos CSS Página Equipamentos */
.tabEquip{
    border: solid, 1px;
    border-collapse: separate;
    width: 510px;
    margin-bottom: 10px;
    font-size: 14px;
}
.tabTitulo{
    background-color: #402020;
    color: #FFFFFF;
}
.tabSubTit{
    background-color: #802020;
    color: #FFFFFF;
}
.tabEquip_th{
    border: solid 1px;
    padding: 10px 10px 10px 10px;
}
.tabEquip_td{
    border: solid 1px;
    padding: 10px;
    font-size: 12px;
    background-color: #EEEEBB;
}
.tabEquip_imgCel{
    width: 100px;
    background-color: #FFFFFF;
}
.img{
    width: 100px;
    height: 100px;
}

/* Estilos CSS Página Inscrição */

.formul{
    width: 400;
    padding-top: 20px;
    margin: 0px auto 10px auto;
    color: #202020;
    background-color: #EEEEBB;
    border: solid 3px #202020;
    font-size: 12px;
}

.fsPessoal{
    width: 340px;
    margin: 0px auto 0px auto;
}
.fsGenero{
    float: right;
    margin: 10px 10px auto auto;
}
.fsCartao{
    width: 280px;
    margin: 0px auto 0px auto;
}
.fslinhaNome{
    height: 30px;
    width: 340px;
    padding-top: 8px;
}
.fslinhaDados{
    height: 130px;
    width: 340px;
}
.fsColDirMat{
    float: right;
}
.fsColEsqPes{
    width: 70px;
    float: left;
    display: block;
}
.fsColLabCrd{
    height: 30px;
    width: 270px;
    float: left;
    display: block;
}
.fsColVatTot{
    width: 220px;
    float: left;
    display: block;
}.fsEntDireita{
    margin-right: 20px;
    float: right;
}
.inpNome{
    width: 220px;
}
.numDD{
    width: 35px;
}
.numQD{
    width: 50px;
}
.inpNCC{
    width: 130px;
}
.inpTelef{
    width: 90px;;
}
.inpMat{
    width: 70px;
}
.inpVal{
    width: 50px;
}
